[submodule "themes/lightbi-hugo"]
	path = themes/lightbi-hugo
	url = https://github.com/binokochumolvarghese/lightbi-hugo
[submodule "themes/arberia"]
	path = themes/arberia
	url = https://github.com/antedoro/arberia.git
